<div id = "contact" style="margin-top: 30px;" class="bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div style="margin-top: 20px;" class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Ontario, Canada</p>
        <!-- <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p> -->
        <p><span class="glyphicon glyphicon-envelope"></span> hello@taxblockprofessional.com</p>
      </div>
      <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="first-name" name="first-name" [(ngModel)]="firstName" placeholder="First Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="last-name" name="last-name" [(ngModel)]="lastName" placeholder="Last Name" type="text" required>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="phone-number" name="phone-number" [(ngModel)]="phoneNumber" placeholder="Phone Number" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Email" type="email" required>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <input class="form-control" id="subject" name="subject" [(ngModel)]="subject" placeholder="Subject" type="text" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" [(ngModel)]="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
      </form>
    </div>
    
  </div>