
<div id = "home" class="home ">
    <div id = "backgroundImage" class="backgroundImage ">
        <div class="content">
            <h2>Achieve Accounting Goals As You Desire.</h2>
            <p style="font-size: 16px;">With our painless & reliable accounting service, Tax Block Professional Inc. is devoted to maximize your financial benefits.</p>
            <div style="margin-top:36px;">
                <a href="#contact" class = "button">Get Started Now</a>
            </div>
        </div>
    </div>
    
    
    
    
</div>
