.container{
    /* background-color: rgb(224, 238, 250); */
    border-radius: 10px;
    padding: unset;
}

.additionalServices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // margin: 0 60px;
}

.additionalService{
    margin: 16px 16px 0 8px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
    width: 22%;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
  }